/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:   	Your Name!
Author URI:   http://example.com
Template: 	accelerate-theme
Version:      2.0.0
Tags:     	light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/

.home-page {
  background: url('img/taxi-photo.jpg') no-repeat scroll right center / cover
    rgba(0, 0, 0, 0);
  text-align: center;
}

#masthead {
  background: none repeat scroll 0 0 #45ac9d;
}

.button {
  background: none repeat scroll 0 0 #45ac9d;
}

.blog-post {
  width: 50%;
  float: left;
  margin-bottom: 2em;
}

.blog-post h4,
.twitter-widget h4 {
  font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
  color: #a6a6a6;
  text-transform: uppercase;
  margin: 2em 0 0.5em;
}

.blog-post h3 {
  font-size: 1.5em;
}

.read-more-link {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #45ac9d;
  text-transform: uppercase;
}

.case-study {
  display: flex;
  flex-direction: row;
}

.case-study-sidebar,
.case-study-img-container {
  margin: 2rem;
}

.case-study-img-container {
  width: 60%;
}

.case-study-sidebar {
  width: 40%;
}

img {
  max-width: 100%;
}

.featured-work {
  text-align: center;
  margin-bottom: 3rem;
}

.homepage-featured-work {
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.featured-work h4 {
  text-transform: uppercase;
}

.individual-featured-work {
  text-align: center;
  margin: 1rem;
}

.individual-featured-work h3 {
  margin: 0;
  margin-top: 0.75rem;
  font-size: 1rem;
}

.individual-featured-work .read-more-link {
  color: inherit;
  text-transform: none;
}

div.case-study-images img {
  width: 100%;
  height: auto;
}

.case-study-sidebar h2 {
  margin-bottom: 0;
}

.case-study-sidebar h2 a {
  font-size: 1.5rem;
  font-weight: 500;
}

.case-study-sidebar h5 {
  text-transform: none;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
  color: #909090;
}

.case-study-sidebar p a {
  color: #45ac9d;
}

#primary.site-content.sidebar.case-studies-container {
  width: 100%;
}

.social-media-navigation {
  margin: 0;
  width: initial;
}

#menu-social-media-nav {
  margin: 0;
  padding: 0;
}

.menu-item-type-custom {
  list-style-type: none;
  display: inline-block;
  font-size: 1.4rem;
  background-color: #3b3b3b;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
}

i {
  color: #fff;
}

.site-description p {
  margin-top: 0;
}

h2 {
  font-size: 1.6rem;
}

#primary.site-content.sidebar {
  width: 40%;
}

.nf-form-fields-required,
.ninja-forms-req-symbol {
  display: none;
}

#nf-field-1-container,
#nf-field-2-container {
  width: 50%;
  margin: 0;
  margin-bottom: 1rem;
}

#nf-field-1-container {
  padding-right: 0.5rem;
}

#nf-field-2-container {
  padding-left: 0.5rem;
}

#nf-field-4 {
  float: right;
  width: 30%;
  background-color: #45ac9d;
}

.hero-about-container {
  margin: 0 auto;
  width: 35%;
}

.hero-about-container h2 {
  margin: 0;
  color: #fff;
  font-weight: 400;
  line-height: 2.25rem;
}

.about-container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.about-headline-container {
  width: 55%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4rem;
}

.about-headline-container h2,
.about-headline-container p {
  margin: 0;
}

.about-headline-container h2 {
  text-transform: uppercase;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.call-to-action {
  border-top: 1px solid #bfbfbf;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

.call-to-action h2 {
  margin: 0;
  margin: 1rem;
}

#contact-button.button {
  margin: 1rem;
}

.service-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.service-description {
  width: 70%;
}

.service-description h3 {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
}

.service-container figure {
  width: 30%;
  padding-left: 2rem;
}

.service-description.icon-right p {
  padding-right: 2rem;
}

.service-container.icon-left {
  flex-direction: row-reverse;
}

.service-container.icon-left figure {
  padding-right: 2rem;
}

.service-container.icon-left p,
.service-container.icon-left h3 {
  padding-left: 2rem;
}

#error-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.error-message-container {
  text-align: center;
}

.error-message-container h2,
.error-message-container h3 {
  margin: 0;
}

.error-message-container h2 {
  line-height: 2rem;
  font-weight: 400;
}

.error-message-container h3 {
  margin-top: 1rem;
  color: #a0356d;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  text-decoration: underline;
}

.error-message-container p span {
  color: #ff69b4;
  font-family: 'Calistoga', cursive;
  font-size: 1rem;
}

.error-message-container p a {
  font-weight: 800;
}

.fyi {
  font-size: 0.9rem;
  margin: 0;
}

.widget-title {
  font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
  color: #a6a6a6;
  text-transform: uppercase;
  margin: 0;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

#front-page-content {
  display: flex;
}

.widget-area {
  margin-top: 2em;
  margin-left: 3em;
}

.twitter-widget h4 {
  margin-left: 3em;
}

#sidebar h2 {
  font-size: 1.25rem;
}

#sidebar .widget {
  padding: 0;
}
